<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Seed Starter Cloud</title>
<link rel="stylesheet" th:href="@{/stsm.css}" />
</head>
<body>
	<h1>Seed Starter Cloud</h1>
	  <div class="seedstarterlist" th:unless="${#lists.isEmpty(allSeedStarters)}">
    
      <h2 th:text="#{title.list}">List of Seed Starters</h2>
      
      <table>
        <thead>
          <tr>
            <th th:text="#{seedstarter.datePlanted}">Date Planted</th>
            <th th:text="#{seedstarter.covered}">Covered</th>
            <th th:text="#{seedstarter.type}">Type</th>
            <th th:text="#{seedstarter.features}">Features</th>
            <th th:text="#{seedstarter.rows}">Rows</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="sb : ${allSeedStarters}">
            <td th:text="${{sb.datePlanted}}">13/01/2011</td>
            <td th:text="#{|bool.${sb.covered}|}">yes</td>
					<td th:text="#{|seedstarter.type.${sb.packingType}|}">Wireframe</td>
					<td>
						<table>
							<tbody>
								<tr th:each="feature: ${sb.features}">
									<td th:text="#{|seedstarter.feature.${feature.name}|}">Features's name</td>
								</tr>
							</tbody>
						</table>
					</td>
					<td>
						<table>
							<tbody>
								<tr th:each="row,rowStat : ${sb.seedRows}">
									<td th:text="${rowStat.count}">1</td>
									<td th:text="${row.variety.name}">Thymus Thymi</td>
									<td th:text="${row.seedsPerCell}">12</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
        </tbody>
      </table>
      
    </div>


    <div>
    
      <h2 th:text="#{title.new}">Add new Seed Starter</h2>

      <form action="#" th:action="@{/seedstartermng}" th:object="${seedStarter}" method="post">
    
        <fieldset>
          
          <legend th:text="#{seedstarter.data}">Seed Starter Data</legend>

          <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
          </ul>

          
          <div>
            <label for="datePlanted">
              <span th:text="#{seedstarter.datePlanted}">Date planted</span>
              (<span th:text="#{date.format}">YYYY/MM/DD</span>)
            </label>
            <input type="text" th:field="*{datePlanted}" th:errorclass="fieldError" />
          </div>
          <div>
            <label th:for="${#ids.next('covered')}" th:text="#{seedstarter.covered}">Covered</label>
            <input type="checkbox" th:field="*{covered}" />
          </div>
          <div>
            <label for="type" th:text="#{seedstarter.type}">Type</label>
            <select th:field="*{type}">
              <option th:each="type : ${allTypes}" th:value="${type}" th:text="#{${'seedstarter.type.' + type}}">Wireframe</option>
            </select>
          </div>
				<div>
				<label for="type" th:text="#{seedstarter.features}">Features</label>
					<ul>
						<li th:each="feat : ${allFeatures}"><input type="checkbox"
							th:field="*{features}" th:value="${feat}" /> <label
							th:for="${#ids.prev('features')}"
							th:text="#{${'seedstarter.feature.' + feat}}">Heating</label></li>
					</ul>
				</div>

				<div>
            <label th:text="#{seedstarter.rows}">Rows</label>
            <table>
              <thead>
                <tr>
                  <th th:text="#{seedstarter.rows.head.rownum}">Row</th>
                  <th th:text="#{seedstarter.rows.head.variety}">Variety</th>
                  <th th:text="#{seedstarter.rows.head.seedsPerCell}">Seeds per cell</th>
                  <th>
                    <button type="submit" name="addRow" th:text="#{seedstarter.row.add}">Add row</button>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="row,rowStat : *{seedRows}">
                  <td th:text="${rowStat.count}">1</td>
                  <td>
                    <select th:field="*{seedRows[__${rowStat.index}__].variety}">
                      <option th:each="var : ${allVarieties}" th:value="${var.varietyId}" th:text="${var.name}">Thymus Thymi</option>
                    </select>
                  </td>
                  <td>
                    <input type="text" th:field="*{seedRows[__${rowStat.index}__].seedsPerCell}" th:errorclass="fieldError" />
                  </td>
                  <td>
                    <button type="submit" name="removeRow" th:value="${rowStat.index}" th:text="#{seedstarter.row.remove}">Remove row</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
    
          <div class="submit">
            <button type="submit" name="save" th:text="#{seedstarter.create}">Add Seed Starter</button>    
          </div>
        
        </fieldset>
          
      </form>
        
    </div>

  </body>
</html>